
name: Build and Release

on:
    push:
        tags:
            - "*"

jobs:
    deploy:
        runs-on: ubuntu-22.04
        permissions:
          id-token: write
          contents: read
        steps:
            - uses: actions/checkout@v4
              with:
                fetch-depth: 0
            - name: Setup Python environment
              uses: actions/setup-python@v5
              with:
                python-version: '3.x'
            - run: pip3 install build
            - run: python -m build
            - name: Publish package to PyPi
              uses: pypa/gh-action-pypi-publish@release/v1
